<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ProtoSpace</title>
  <link rel="stylesheet" th:href="@{/assets/application.css}" />
</head>
<body>

  <!-- ヘッダーの読み込み -->
<div th:replace="questions/header :: header"></div>

  <!-- メインコンテンツ -->
  <main class="main">
    <div class="inner">
      <div class="card_wrapper flex">
        <div class="card" th:each="user : ${users}">
          <a th:href="@{/prototypes/{id}(id=${user.id})}">
            <img class="card_img" th:src="@{/images/sample.jpg}" alt="Sample Image">
          </a>
          <div class="card_body">
            <a class="card_title" th:href="@{/prototypes/{id}(id=${user.id})}" th:text="${user.profile}"></a>
            <p class="card_summary" th:text="${user.affiliation}"></p>
            <a class="card_user" th:href="@{/users/{id}(id=${user.id})}" th:text="'by ' + ${user.email}"></a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- フッター -->
  <footer class="footer">
    <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
  </footer>

</body>
</html>
